n8n/workflows/01-daily-summary.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "00a915e2-49f8-4196-91f4-fa68e5f64579",
      "name": "Scheduler 07:00 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        -16
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3032/api/internal/reports/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "insightflow_internal_secret_key_change_in_production"
            }
          ]
        },
        "options": {}
      },
      "id": "85dee17f-0559-4029-9c71-75124e591a12",
      "name": "Get Summary Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -16
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3032/api/internal/settings/telegram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "insightflow_internal_secret_key_change_in_production"
            }
          ]
        },
        "options": {}
      },
      "id": "18239e55-3546-4364-943d-18c1409ce5ca",
      "name": "Get Telegram Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json.data;\nconst cfg=$('Get Telegram Settings').first().json.data;\nconst threshold=cfg?.anomaly_threshold_pct||10;\nconst fmt=n=>'Rp '+Number(n).toLocaleString('id-ID');\nconst t=d.revenue_vs_yesterday_pct>=0?`naik ${d.revenue_vs_yesterday_pct}%`:`turun ${Math.abs(d.revenue_vs_yesterday_pct)}%`;\nconst prompt=`Laporan penjualan ${d.day_of_week} ${d.date}:\n- Omzet: ${fmt(d.total_revenue)} (${t} vs kemarin)\n- Order: ${d.total_orders} (selesai:${d.completed_orders} pending:${d.pending_orders})\n- Produk terlaris: ${d.top_product} | Sales terbaik: ${d.top_sales}\n- Stok rendah: ${d.low_stock_count} produk\n${d.has_anomaly?'⚠️ Anomali: '+d.anomaly_msg:''}\n\nBuat ringkasan 3-4 kalimat Bahasa Indonesia informatif untuk manajer. Sertakan 1 saran.`;\nreturn [{json:{prompt,raw:d,chat_id:cfg?.chat_id||0,threshold}}];"
      },
      "id": "1c749afb-b77c-46e3-8d0a-011c08c8a078",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiText=$input.first().json.output||$input.first().json.message?.content||'';\nconst raw=$('Format Prompt').first().json.raw;\n\nconst fmt = (n) => 'Rp ' + Number(n).toLocaleString('id-ID');\nconst trendIcon = raw.revenue_vs_yesterday_pct >= 0 ? '📈' : '📉';\nconst sign = raw.revenue_vs_yesterday_pct >= 0 ? '+' : '';\n\nconst lowStockLine = raw.low_stock_count > 0\n  ? `\\n⚠️ *Stok Rendah:* ${raw.low_stock_count} produk perlu restock`\n  : '';\n\nconst message = `📊 *Laporan Penjualan Harian*\n_${raw.day_of_week}, ${raw.date}_\n\n💰 Omzet: *${fmt(raw.total_revenue)}* ${trendIcon} ${sign}${raw.revenue_vs_yesterday_pct}%\n📦 Order: *${raw.total_orders}* total ✅${raw.completed_orders} ⏳${raw.pending_orders}\n🏆 Terlaris: *${raw.top_product}*\n👤 Sales Terbaik: *${raw.top_sales}*${lowStockLine}\n\n🤖 _${aiText}_\n\n_Dikirim otomatis pukul 07.00 WIB_`;\n\nreturn [{ json: { message } }];"
      },
      "id": "dcf904e2-a1da-43f6-b642-43c18dbd47ec",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -16
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Prompt').first().json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "baa3afde-2085-4989-b4c5-c8b28ddbf9d9",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -16
      ],
      "webhookId": "68473274-7275-419b-90a9-670e510a0f75",
      "credentials": {
        "telegramApi": {
          "id": "uZ29K6eoMtEL2vsR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7c63c956-05df-45c5-b87f-8f981adf4c83",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        48,
        176
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Prompt').first().json.chat_id || '-100123456789' }}",
        "text": "⚠️ *InsightFlow Alert*\nGagal mengirim laporan pagi ini.\nError: {{ $json.error.message }}\n\nSilakan cek dashboard manual: http://localhost:3000/dashboard",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "4ba2e509-6cb2-408d-937c-ec8a85f152c7",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        176
      ],
      "webhookId": "699905cb-4763-4d61-8ad2-37e1687374ac",
      "credentials": {
        "telegramApi": {
          "id": "uZ29K6eoMtEL2vsR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat_id }}",
        "options": {
          "systemMessage": "Kamu adalah asisten laporan penjualan pakaian. Buat ringkasan laporan harian yang singkat, jelas, dan informatif dalam Bahasa Indonesia. Selalu sertakan angka dalam format Rupiah Indonesia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        -16
      ],
      "id": "24d91dfb-1137-4cc1-8311-f0141fea4067",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        192
      ],
      "id": "3360ad85-5cda-40a7-a5ef-9ecda562cdae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rilVCQteHFluoG2t",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        192
      ],
      "id": "d5800879-4f3c-453e-a219-23f59e1d0afb",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Scheduler 07:00 WIB": {
      "main": [
        [
          {
            "node": "Get Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary Data": {
      "main": [
        [
          {
            "node": "Get Telegram Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram Settings": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22108b0f31da3bae0244a72667f889eaedcf4087aa89585493d7505f517528bf"
  }
}